.email-viewer table {
  margin-top: 0.5rem;
  max-width: fit-content;
  border-collapse: collapse;
  white-space: nowrap;
}

.email-viewer td {
  padding: 0.5rem;
  border: 1px solid #f0f0f0;
}

.email-viewer td:first-child {
  font-weight: bold;
}

.email-content {
  white-space: pre-wrap;
  text-wrap: wrap;
}
